* {
    box-sizing: border-box;
  }

  h1 {
    display: flex;
    justify-content: center;
  }

  body {
    background-color: skyblue;
  }

  #data-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .card {
    height: 300px;
    width: 200px;
    border: 1px solid black;
  }

  .input-button{
    display: flex;
    justify-content: center;
  }

  .name {
    display: flex;
    justify-content: center;
  }

  img {
    display: flex;
    justify-content: center;
    height: 80px;
    width: 80px;
  }

  span {
    display: flex;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 8px;
    font-size: 20px;
  }

  #saved-search {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100px;
  }