* {
    box-sizing: border-box;
  }

  h1 {
    display: flex;
    justify-content: center;
  }

  body {
    background-color: skyblue;
  }

  #data-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .card {
    height: 300px;
    width: 200px;
    border: 1px solid black;
  }

  .input-button{
    display: flex;
    justify-content: center;
  }

  .name {
    display: flex;
    justify-content: center;
  }

  img {
    height: 50px;
    width: 50px;
  }

  span {
    display: flex;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
  }